@model List<BakerWebUI.Dtos.Chefs.ResultChefDto>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /> <br />
    <table class="table table-hover"
        <tr>
            <th>#</th>
            <th>Adı</th>
            <th>Görevi</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.chefId</td>
                <td>@item.name</td>
                <td>@item.title</td>
                <td><a href="#" class="btn btn-danger">Sil</a></td>
                <td><a href="#" class="btn outline-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="#" class="btn btn-primary">Yeni Şef Girişi</a></td>

</div>