@model Baker.WebUI.Dtos.Contact.ResultContactDto

<div class="bg-primary text-light rounded-bottom p-5 my-6 mt-0">
    <div class="row g-4 align-items-center">
        <div class="col-lg-6">
            <h1 class="display-4 text-light mb-0">@Model.Title</h1>
        </div>
        <div class="col-lg-6 text-lg-end">
            <div class="d-inline-flex align-items-center text-start">
                <div class="ms-4">
                    <p class="fs-5 fw-bold mb-0">Bizimle İletişime Geçin</p>
                    <p class="fs-1 fw-bold mb-0">@Model.PhoneNumber</p>
                </div>
            </div>
        </div>
    </div>
</div>